<div class="modal fade" id="ModalRecuperarSenhaUsuario" tabindex="-1" role="dialog" aria-labelledby="AlterarEmail" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">            
            <div class="modal-header">
                <label class="text-recovery-email">Deseja Recuperar sua Senha?</label>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            @using (Html.BeginForm("RecuperarSenhaUsuarioAR", "Usuario", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Digite seu E-mail:</label>
                        <input type="email" class="form-control" name="txtEmailUsuario" id="txtEmailUsuario" required="required">
                        <p class="legenda-textbox">• Lembre-se de utilizar sua nova senha para o acesso</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success form-group" type="submit"><i class="fa fa-check"></i> Enviar E-mail de Recuperação</button>                                        
                </div>
                @Html.AntiForgeryToken()
            }
        </div>
    </div>
</div>
